<!DOCTYPE html>
<html>
<head>
	<title>Dreamland Collective</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<div class="wrapper">
		<%= render 'layouts/nav' %>
		<div class="main">
			<%= yield %>
		</div>
		<%= render 'layouts/footer' %>
		</div>
	</div>
</body>
</html>
